{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
  {{ super() }}
	<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

<!-- Content Block -->
{% block content %}

<div class="container">

	<form>
		<input type="text" name="news_query" placeholder="Search for any news" class="form-control">
		<input type="submit"  value="Submit" class="btn btn-default">
	</form>

</div>

<!-- homepage -->
<div class="homepage mt-2">
	<div class="m-2">
		<div class="row">
			<div class="col-md-6">
				{% for bbc in bbc_home_picture %}
				<div class="card-image p-4 mb-3" style="background-image: url(  {{bbc.urlToImage}}  );">
					<div class="headline-text">
						<button class="btn btn-warning btn-sm mt-5">BBC News</button>
						<h4 class="news-headings mt-2"><a target="_blank" href="{{ bbc.url }}">{{ bbc.title }}</a>
						</h4>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="col-md-6 news-right">
				<div class="row">
					{% for cnn_news in cnn %}
					<div class="col-md-6">
						<div class="card-image p-4 mb-3" style="background-image: url({{cnn_news.urlToImage}});">
							<div class="headline-">
								<button class="btn btn-primary btn-sm mt-1">CNN News</button>
								<h5 class="news-headings mt-2"><a target="_blank"
									href="{{cnn_news.url}}">{{cnn_news.title}}</a>
								</h5>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					{% for google in google %}
					<div class="col-md-6">
						<div class="card-image p-4 mb-3" style="background-image: url({{google.urlToImage}});">
							<div class="headline-">
								<button class="btn btn-primary btn-sm mt-1">Google News</button>
								<h5 class="news-headings mt-2"><a target="_blank" href="{{google.url}}">{{ google.title }}</a>
								</h5>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
    </div>
  </div>
</div>

<!-- Popular News Section -->
<h2> Popular News </h2>
<ul>
	{{ macro.displayNewsList(popular) }}
</ul>

<div class="top-news m-2">
  <h3 class="text-uppercase headings text-center mt-5 mb-4">All News Articles <br> <small>({{ title }})</small></h3>
  <div class="row">
    {{ macro.displayNewsArticles(articles) }}
  </div>
</div>

<!-- Trending News -->
<h2> Now Trending </h2>
<ul>
	{{ macro.displayNewsList(now_trending) }}
</ul>

<!-- Source Varieties -->
<div class="sources m-2">
	<div class="card p-2">
		<h3 class="text-uppercase headings">News Sources</h3>
		<div class="row">
			<div class="col-md-12">
				{{ macro.displayNewsSources(sources) }}
			</div>
		</div>
	</div>
</div>

{% endblock %}
