<!DOCTYPE html>
<html lang="en">
<head>
{% import 'macros.html' as macro %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if title %}
	<title> {{ title }} </title>
	{% else %}
	<title>Weekly Blog</title>
	{% endif %}
</head>
<body>
	<!-- Popular News Section -->
	<h2> Popular News </h2>
	<ul>
		{{ macro.displayNewsList(popular) }}
	</ul>
	
	<!-- Trending News -->
	<h2> Now Trending </h2>
	<ul>
		{{ macro.displayNewsList(now_trending) }}
	</ul>
</body>
</html>