<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>
<body>
	<!-- navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container container-fluid">
			<a class="navbar-brand" href="/">
				The Weekly <br> BLOG
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				</ul>
				<ul class="navbar-nav nav-right">
					<li class="nav-item">
						<a class="nav-link" href="/news">NEWS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/sports">SPORTS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/entertainment">ENTERTAINMENT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fa fa-search">Search Here...</i>
						</a>
					</li>
				</ul>
			</div>
    </div>
</nav>
</body>
</html>